{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "MathJax": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [1, "prefer-double"],
    "comma-dangle": 1,
    "prefer-const": 1,
    "no-unused-vars": 1,
    "no-else-return": 1,
    "no-param-reassign": 1,
    "quotes": 1,
    "semi": 1,
    "no-undef": 1,
    "no-inner-declarations": 1,
    "react/prop-types": 1,
    "react/wrap-multilines": 1,
    "no-multi-spaces": 1,
    "key-spacing": 1,
    "space-before-function-paren": 1,
    "indent": ["warn", 4],
    "id-length": 1,
    "no-regex-spaces": 1,
    "no-trailing-spaces": 1,
    "space-after-keywords": 1,
    "padded-blocks": 1,
    "no-shadow": 1,
    "space-infix-ops": 1,
    "no-use-before-define": 1,
    "no-vars": 1,
    "no-var": 1,
    "vars-on-top": 1,
    "comma-spacing": 1,
    "comma-style": 1,
    "no-empty": 1,
    "eqeqeq": 1,
    "consistent-return": 1,
    "react/sort-comp": 1,
    "new-cap": 1,
    "react/no-unknown-property": 1,
    "import/no-extraneous-dependencies": 1,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "max-len": 1,
    "no-underscore-dangle": 1,
    "react/destructuring-assignment": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-filename-extension": 1,
    "react/jsx-indent": 1,
    "react/jsx-indent-props": 1,
    "react/no-access-state-in-setstate": 1,
    "react/no-deprecated": 1,
    "array-callback-return": 1,
    "arrow-body-style": 1,
    "arrow-parens": 1,
    "block-spacing": 1,
    "global-require": 1,
    "import/extensions": 1,
    "import/named": 1,
    "import/no-named-as-default": 1,
    "import/no-named-as-default-member": 1,
    "import/order": 1,
    "import/prefer-default-export": 1,
    "jsx-a11y/alt-text": 1,
    "jsx-a11y/anchor-is-valid": 1,
    "jsx-a11y/html-has-lang": 1,
    "jsx-a11y/lang": 1,
    "keyword-spacing": 1,
    "no-debugger": 1,
    "no-restricted-globals": 1,
    "no-restricted-syntax": 1,
    "no-return-assign": 1,
    "no-useless-constructor": 1,
    "no-useless-return": 1,
    "object-curly-newline": 1,
    "object-curly-spacing": 1,
    "operator-linebreak": 1,
    "prefer-arrow-callback": 1,
    "prefer-destructuring": 1,
    "prefer-rest-params": 1,
    "prefer-template": 1,
    "quote-props": 1,
    "react/forbid-prop-types": 1,
    "react/jsx-closing-tag-location": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-one-expression-per-line": 1,
    "react/jsx-tag-spacing": 1,
    "react/jsx-wrap-multilines": 1,
    "react/no-render-return-value": 1,
    "react/no-unescaped-entities": 1,
    "react/no-unused-state": 1,
    "react/prefer-stateless-function": 1,
    "react/require-default-props": 1,
    "react/self-closing-comp": 1,
    "wrap-iife": 1,
    "no-mixed-operators": 1,
    "function-paren-newline": 1
  }
}
