.flashcard {
  transition: '1s';
  cursor: pointer;
  font-family: Arial;
  margin: 0;
  padding: 10px;
}

ul {
  line-height:1.3;
}

pre {
  color: black;
  background: #F5F5F5;
  padding: 10px;
  border-radius: 4px;
}
