.flashcard {
  transition: 300ms;
  cursor: pointer;
  font-family: Arial;
  margin: 0;
  padding: 10px;
}

.flashcard-header {
  text-align:center;
}

ul {
  line-height:1.3;
}

pre {
  color: black;
  background: #F5F5F5;
  padding: 10px;
  border-radius: 4px;
}

.blankspace {
  display:inline-block;
  border-bottom:1px solid black;
  width:4em;
}

.flashcard-content img {
  max-width: 100%;
}

.card-metadata {
  text-align:center;
}
