.card-bottom-info {
  position:absolute;
  bottom: 0;
  padding-bottom:10px;
  background: white;
}

.card-metadata {
  font-size: 10px;
  color: #909090;
}

ul.card-directions {
  text-align:center;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space:nowrap;

  li {
    display:inline-block;
    margin: 5px;
  }
}
