.flashcard {
  transition: 300ms;
  transition-property:color;
  cursor: pointer;
  font-family: Arial;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  word-wrap:break-word;
  background-color:rgba(0, 0, 255, 0.5);
  width:calc(100% - 20px);
  height:calc(100% - 20px);
  position: absolute;
  top: 0;
}

@media screen and (max-width: 500px) {
  .flashcard {
    position: absolute;
    height: calc(100% - 4px);
    padding: 0;
    width:100%;
  }
}

.flashcard table {
  border-collapse: collapse;
  margin: auto;
}

.flashcard td,.flashcard th {
  border:1px solid black;
  padding:2px;
  text-align:center;
  border-top:none;
  border-bottom:none;
}

.flashcard th {
  border-bottom:2px solid black;
  border-top:none;
}

.flashcard-header {
  text-align:center;
  margin-top:15px;
}

ul {
  line-height:1.3;
}

pre {
  color: black;
  background: #F5F5F5;
  padding: 10px;
  border-radius: 4px;
}

.blankspace {
  display:inline-block;
  border-bottom:1px solid #a7a7a7;
  width:4em;
  text-align:center;
  margin:0 2px;
}

.flashcard-content img {
  max-width: 100%;
}

.flashcard-content p {
  white-space: pre-wrap;
}

.card-metadata {
  text-align:center;
}
