@import '../variables.scss';

.DeckCover {
  cursor: pointer;
  font-family: Helvetica;
  flex-grow: 1;
  flex-basis: auto;
  margin: 2px;
  position: relative;
  /* box-shadow: 2px 2px $shadow1, 4px 4px $shadow2, 6px 6px $shadow3; */
  padding: 6px;
  border:2px solid #eee;
}

.DeckCoverDetails {
  font-size:10px;
  color: gray;

  .detail {
    display:block;
    margin-bottom:1px;
  }
}
