#title {
  width:100%;
  position:relative;
}

#title h1 {
  font-weight:light;
  text-transform: lowercase;
  font-weight: lighter;
  margin:5px 10px 5px;
  border-bottom: 2px solid black;
}

#title a {
  position: absolute;
  right:10px;
  bottom:10px;
  text-decoration:none;
  color:black;
}

#title a:before {
  content: "\203A";
}

#title a:hover {
  color:black;
  background:#FFE130;
}
