#card-navigation {
  margin:0;
  padding:0;
  list-style:none;
  display:flex;
  flex-direction:row;
  align-content:stretch;
  padding:6px;
}

#card-navigation div {
  height:3px;
  display:inline-block;
  margin:0;
  flex-basis:20px;
  flex-grow:1;
}

#card-navigation div:last-of-type {
}
